$button-size: 14px !default
$button-height: 34px !default
$button-ratio: 0.3 !default

.button 
    display: inline-flex
    align-items: center
    justify-content: center
    min-width: 0
    white-space: nowrap

.button.button--block 
    width: 100%

.button:not(.button--link) 
    padding: 0 $button-height * $button-ratio
    height: $button-height
    background: $color-gray-10
    font-size: $button-size
    border: 1px solid $color-gray-10
    border-radius: $md-radius
    transition: 0.15s background, 0.15s border, 0.15s color

.button.button--square:not(.button--link) 
    width: $button-height
    padding: 0
    text-align: center

.button:not(.button--link):hover,
.button:not(.button--link):focus 
    background: $color-gray-15
    border-color: $color-gray-15

.button[disabled] 
    opacity: 0.6
    cursor: not-allowed

.button.button--small:not(.button--link) 
    font-size: $button-size * 0.875
    padding: 0 $button-height * $button-ratio * 0.875
    height: $button-height * 0.875

.button.button--small.button--square:not(.button--link) 
    width: $button-height * 0.875
    padding: 0

.button.button--large:not(.button--link) 
    font-size: $button-size * 1.125
    padding: 0 $button-height * $button-ratio * 1.125
    height: $button-height * 1.125

.button.button--large.button--square:not(.button--link) 
    width: $button-height * 1.125
    padding: 0

/**
 * Link
 */

.button.button--link 
    font-size: $button-size
    color: $color-primary
    transition: 0.15s color

.button.button--link:hover,
.button.button--link:focus 
    color: $color-primary-darker

.button.button--link.button--primary 
    color: $color-primary

.button.button--link.button--primary:hover,
.button.button--link.button--primary:focus 
    color: $color-primary-darker

.button.button--link.button--success 
    color: $color-success

.button.button--link.button--success:hover,
.button.button--link.button--success:focus 
    color: $color-success-darker

.button.button--link.button--warning 
    color: $color-warning

.button.button--link.button--warning:hover,
.button.button--link.button--warning:focus 
    color: $color-warning-darker

.button.button--link.button--danger 
    color: $color-danger

.button.button--link.button--danger:hover,
.button.button--link.button--danger:focus 
    color: $color-danger-darker

.button.button--link.button--info 
    color: $color-info

.button.button--link.button--info:hover,
.button.button--link.button--info:focus 
    color: $color-info-darker

.button.button--small.button--link 
    font-size: $button-size * 0.875

.button.button--large.button--link 
    font-size: $button-size * 1.125

.button.button--link[disabled],
.button.button--link[disabled]:hover,
.button.button--link[disabled]:focus 
    color: $color-gray-40

/**
 * Button primary
 */

.button.button--primary:not(.button--link) 
    color:  $color-white
    background: $color-primary
    border-color: $color-primary

.button.button--primary:not(.button--link):hover,
.button.button--primary:not(.button--link):focus 
    background: $color-primary-light
    border-color: $color-primary-light

.button.button--primary:not(.button--link):active 
    background: $color-primary-dark
    border-color: $color-primary-dark

.button.button--primary:not(.button--link)[disabled],
.button.button--primary:not(.button--link)[disabled]:hover,
.button.button--primary:not(.button--link)[disabled]:focus 
    background: $color-primary
    border-color: $color-primary

/**
 * Button secondary
 */

.button.button--secondary:not(.button--link) 
    color:  $color-black
    background: transparent
    border-color: $color-gray-15

.button.button--secondary:not(.button--link):hover,
.button.button--secondary:not(.button--link):focus 
    color: $color-secondary
    background: rgba($color-secondary, 0.1)
    border-color: $color-secondary

.button.button--secondary:not(.button--link):active 
    background: rgba($color-secondary, 0.15)
    border-color: $color-secondary-dark

.button.button--secondary:not(.button--link)[disabled],
.button.button--secondary:not(.button--link)[disabled]:hover,
.button.button--secondary:not(.button--link)[disabled]:focus 
    color: $color-black
    background: transparent
    border-color: $color-gray-15

/**
 * Button success
 */

.button.button--success:not(.button--link) 
    color:  $color-white
    background: $color-success
    border-color: $color-success

.button.button--success:not(.button--link):hover,
.button.button--success:not(.button--link):focus 
    background: $color-success-light
    border-color: $color-success-light

.button.button--success:not(.button--link):active 
    background: $color-success-dark
    border-color: $color-success-dark

.button.button--success:not(.button--link)[disabled],
.button.button--success:not(.button--link)[disabled]:hover,
.button.button--success:not(.button--link)[disabled]:focus 
    background: $color-success-lighter
    border-color: $color-success-lighter

/**
 * Button warning
 */

.button.button--warning:not(.button--link) 
    color:  $color-white
    background: $color-warning
    border-color: $color-warning

.button.button--warning:not(.button--link):hover,
.button.button--warning:not(.button--link):focus 
    background: $color-warning-light
    border-color: $color-warning-light

.button.button--warning:not(.button--link):active 
    background: $color-warning-dark
    border-color: $color-warning-dark

.button.button--warning:not(.button--link)[disabled],
.button.button--warning:not(.button--link)[disabled]:hover,
.button.button--warning:not(.button--link)[disabled]:focus 
    background: $color-warning-lighter
    border-color: $color-warning-lighter

/**
 * Button danger
 */

.button.button--danger:not(.button--link) 
    color:  $color-white
    background: $color-danger
    border-color: $color-danger

.button.button--danger:not(.button--link):hover,
.button.button--danger:not(.button--link):focus 
    background: $color-danger-light
    border-color: $color-danger-light

.button.button--danger:not(.button--link):active 
    background: $color-danger-dark
    border-color: $color-danger-dark

.button.button--danger:not(.button--link)[disabled],
.button.button--danger:not(.button--link)[disabled]:hover,
.button.button--danger:not(.button--link)[disabled]:focus 
    background: $color-danger-lighter
    border-color: $color-danger-lighter

/**
 * Button info
 */

.button.button--info:not(.button--link) 
    color:  $color-white
    background: $color-info
    border-color: $color-info

.button.button--info:not(.button--link):hover,
.button.button--info:not(.button--link):focus 
    background: $color-info-light
    border-color: $color-info-light

.button.button--info:not(.button--link):active 
    background: $color-info-dark
    border-color: $color-info-dark

.button.button--info:not(.button--link)[disabled],
.button.button--info:not(.button--link)[disabled]:hover,
.button.button--info:not(.button--link)[disabled]:focus 
    background: $color-info-lighter
    border-color: $color-info-lighter

/**
 * Button group
 */

.button-group 
    display: flex
    flex-direction: row

.button-group > .button,
.button-group > .input 
    position: relative
    border-radius: 0
    margin-left: -1px

.button-group > .input 
    flex: 1 1 auto

.button-group > .button 
    flex: 0 0 auto

.button-group > .button:hover,
.button-group > .input:hover 
    z-index: 10

.button-group > .button:first-child,
.button-group > .input:first-child 
    border-radius: $md-radius 0 0 $md-radius
    margin-left: 0

.button-group > .button:last-child,
.button-group > .input:last-child 
    border-radius: 0 $md-radius $md-radius 0

