@import "../icon/sass-inline-svg"

$checkbox-font-size: 15px !default
$checkbox-check-size: 10px !default
$checkbox-width: 15px !default
$checkbox-height: 15px !default

/**
 * Checkbox container
 */

.checkbox 
    position: relative
    display: flex
    flex-direction: column
    width: 100%

.checkbox input[type="checkbox"] 
    display: none

.checkbox > label 
    cursor: pointer
    user-select: none
    display: flex
    align-items: center
    padding-top: $checkbox-height / 6
    padding-bottom: $checkbox-height / 6
    line-height: 1.2
    font-size: $checkbox-font-size

.checkbox.checkbox--small > label 
    font-size: $checkbox-font-size * 0.925

.checkbox.checkbox--large > label 
    font-size: $checkbox-font-size * 1.125

/**
 * Checkbox pseudo checkbox
 */

.checkbox > label input[type="checkbox"] 
    -webkit-appearance: none
    flex: 0 0 auto
    display: block
    border: 1px solid $color-gray-15
    border-radius: $md-radius
    width: $checkbox-width
    height: $checkbox-height
    color: $color-white
    background-color: $color-white
    background-size: 10px 10px
    background-position: center center
    background-repeat: no-repeat
    background-image: inline-svg('check', $color-white)
    transition: background-color 0.1s, border 0.1s
    margin-right: 7px

.checkbox > label input[type="checkbox"]:disabled 
    cursor: not-allowed
    opacity: 0.6

.checkbox > label:hover input[type="checkbox"],
.checkbox > label input[type="checkbox"]:focus,
.checkbox > label input[type="checkbox"]:checked 
    border-color: $color-primary

.checkbox > label input[type="checkbox"]:checked 
    background-color: $color-primary

.checkbox.checkbox--small > label input[type="checkbox"] 
    font-size: $checkbox-check-size * 0.925
    width: $checkbox-width * 0.925
    height: $checkbox-height * 0.925

.checkbox.checkbox--large > label input[type="checkbox"] 
    font-size: $checkbox-check-size * 1.125
    width: $checkbox-width * 1.125
    height: $checkbox-height * 1.125

