@import "../icon/sass-inline-svg"

$radio-font-size: 15px !default
$radio-check-size: 10px !default
$radio-width: 15px !default
$radio-height: 15px !default

/**
 * Checkbox container
 */

.radio 
    position: relative
    display: flex
    flex-direction: column
    width: 100%

.radio input[type="radio"] 
    display: none

.radio > label 
    cursor: pointer
    user-select: none
    display: flex
    align-items: center
    padding-top: $radio-height / 6
    padding-bottom: $radio-height / 6
    line-height: 1.2
    font-size: $radio-font-size

.radio.radio--small > label 
    font-size: $radio-font-size * 0.925

.radio.radio--large > label 
    font-size: $radio-font-size * 1.125

/**
 * Checkbox pseudo radio
 */

.radio > label input[type="radio"] 
    appearance: none
    flex: 0 0 auto
    display: block
    border: 1px solid $color-gray-15
    border-radius: 500px
    width: $radio-width
    height: $radio-height
    color: $color-white
    background-color: $color-white
    background-size: 5px 5px
    background-position: center center
    background-repeat: no-repeat
    background-image: inline-svg('circle', $color-white)
    transition: background-color 0.1s, border 0.1s
    margin-right: 7px

.radio > label:hover input[type="radio"],
.radio > label input[type="radio"]:focus,
.radio > label input[type="radio"]:checked 
    border-color: $color-primary

.radio > label input[type="radio"]:checked 
    background-color: $color-primary

.radio.radio--small > label input[type="radio"] 
    font-size: $radio-check-size * 0.925
    width: $radio-width * 0.925
    height: $radio-height * 0.925

.radio.radio--large > label input[type="radio"] 
    font-size: $radio-check-size * 1.125
    width: $radio-width * 1.125
    height: $radio-height * 1.125

