@import "./base";

$media-steps: (
        'xs': 'screen and (min-width: 576px)',
        'sm': 'screen and (min-width: 768px)',
        'md': 'screen and (min-width: 992px)',
        'lg': 'screen and (min-width: 1200px)',
        'xl': 'screen and (min-width: 1440px)',
) !default;

$maxmedia-steps: (
        'xs': 'screen and (max-width: 575px)',
        'sm': 'screen and (max-width: 767px)',
        'md': 'screen and (max-width: 991px)',
        'lg': 'screen and (max-width: 1199px)',
        'xl': 'screen and (max-width: 1439px)',
) !default;

@mixin media($suffix: '') {

    @if $suffix == '' {
        $suffix: $suffix !global;
        @content;
    }

    @if $suffix == '' {
        @each $suffix, $breakpoint in $media-steps {
            @media #{$breakpoint} {
                $suffix: \@ + $suffix !global;
                @content;
            }
        }
    }

    @if $suffix != '' {
        @media #{map-get($media-steps, $suffix)} {
            $suffix: \@ + $suffix !global;
            @content;
        }
    }

}

@mixin maxmedia($suffix: '') {

    @if $suffix == '' {
        $suffix: $suffix !global;
        @content;
    }

    @if $suffix == '' {
        @each $suffix, $breakpoint in $maxmedia-steps {
            @media #{$breakpoint} {
                $suffix: \@ + $suffix !global;
                @content;
            }
        }
    }

    @if $suffix != '' {
        @media #{map-get($maxmedia-steps, $suffix)} {
            $suffix: \@ + $suffix !global;
            @content;
        }
    }

}

@mixin submedia($subfix: '') {

    @if $subfix == '' {
        $subfix: $subfix !global;
        @content;
    }

    @if $subfix == '' {
        @each $subfix, $breakpoint in $media-steps {
            @media #{$breakpoint} {
                $subfix: \@ + $subfix !global;
                @content;
            }
        }
    }

    @if $subfix != '' {
        @media #{map-get($media-steps, $subfix)} {
            $subfix: \@ + $subfix !global;
            @content;
        }
    }

}
