/*
* Inkludiert in /dist/bundle/backend-editor-styles.css, hier ist der Frontend-Dev verantwortlich
*/
@import url("/dist/theme/default/style.css");

* {
    color: #333;
}

html {
    min-height: 100%;
}

body {
    background: #fff;
    color: #333;
    min-height: 100%;
}

.fr-view {
    padding: 15px 20px !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

table {
    width: 100%;
}

th, td {
    vertical-align: top;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}
