
$media-steps: (
    'xs': 'screen and (min-width: 576px)',
    'sm': 'screen and (min-width: 768px)',
    'md': 'screen and (min-width: 992px)',
    'lg': 'screen and (min-width: 1196px)',
    'xl': 'screen and (min-width: 1412px)'
);

$grid-steps: (
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
);

$grid-gutters: (
    10px, 15px, 20px, 30px, 40px, 60px
);

$ratio-steps: (
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16
);

$space-gutter: (
    10px, 15px, 20px, 30px, 40px, 60px
);

$color-white:           #ffffff;
$color-black:           #15171A;

$color-light:           #F9FCFF;
$color-dark:            #4B525B;

$color-gray-05:         mix($color-dark, $color-light, 0.05 * 100%);
$color-gray-10:         mix($color-dark, $color-light, 0.10 * 100%);
$color-gray-15:         mix($color-dark, $color-light, 0.15 * 100%);
$color-gray-20:         mix($color-dark, $color-light, 0.20 * 100%);
$color-gray-25:         mix($color-dark, $color-light, 0.25 * 100%);
$color-gray-30:         mix($color-dark, $color-light, 0.30 * 100%);
$color-gray-35:         mix($color-dark, $color-light, 0.35 * 100%);
$color-gray-40:         mix($color-dark, $color-light, 0.40 * 100%);
$color-gray-45:         mix($color-dark, $color-light, 0.45 * 100%);
$color-gray-50:         mix($color-dark, $color-light, 0.50 * 100%);
$color-gray-55:         mix($color-dark, $color-light, 0.55 * 100%);
$color-gray-60:         mix($color-dark, $color-light, 0.60 * 100%);
$color-gray-65:         mix($color-dark, $color-light, 0.65 * 100%);
$color-gray-70:         mix($color-dark, $color-light, 0.70 * 100%);
$color-gray-75:         mix($color-dark, $color-light, 0.75 * 100%);
$color-gray-80:         mix($color-dark, $color-light, 0.80 * 100%);
$color-gray-85:         mix($color-dark, $color-light, 0.85 * 100%);
$color-gray-90:         mix($color-dark, $color-light, 0.90 * 100%);
$color-gray-95:         mix($color-dark, $color-light, 0.95 * 100%);

$color-primary:         #5b60c5;
$color-secondary:       #48ACF0;

$color-success:         #3ed786;
$color-warning:         #ffac2f;
$color-danger:          #fd2f51;
$color-info:            #37C4EF;

$color-background:      #F0F3F7;

$color-white-light:         lighten($color-white, 5%) !default;
$color-white-lighter:       lighten($color-white, 10%) !default;

$color-white-dark:          darken($color-white, 5%) !default;
$color-white-darker:        darken($color-white, 10%) !default;

$color-black-light:         lighten($color-black, 5%) !default;
$color-black-lighter:       lighten($color-black, 10%) !default;

$color-black-dark:          darken($color-black, 5%) !default;
$color-black-darker:        darken($color-black, 10%) !default;

$color-primary-light:       lighten($color-primary, 5%) !default;
$color-primary-lighter:     lighten($color-primary, 10%) !default;

$color-primary-dark:        darken($color-primary, 5%) !default;
$color-primary-darker:      darken($color-primary, 10%) !default;

$color-secondary-light:     lighten($color-secondary, 5%) !default;
$color-secondary-lighter:   lighten($color-secondary, 10%) !default;

$color-secondary-dark:      darken($color-secondary, 5%) !default;
$color-secondary-darker:    darken($color-secondary, 10%) !default;

$color-success-light:       lighten($color-success, 5%) !default;
$color-success-lighter:     lighten($color-success, 10%) !default;

$color-success-dark:        darken($color-success, 5%) !default;
$color-success-darker:      darken($color-success, 10%) !default;

$color-warning-light:       lighten($color-warning, 5%) !default;
$color-warning-lighter:     lighten($color-warning, 10%) !default;

$color-warning-dark:        darken($color-warning, 5%) !default;
$color-warning-darker:      darken($color-warning, 10%) !default;

$color-danger-light:        lighten($color-danger, 5%) !default;
$color-danger-lighter:      lighten($color-danger, 10%) !default;

$color-danger-dark:         darken($color-danger, 5%) !default;
$color-danger-darker:       darken($color-danger, 10%) !default;

$color-info-light:          lighten($color-info, 5%) !default;
$color-info-lighter:        lighten($color-info, 10%) !default;

$color-info-dark:           darken($color-info, 5%) !default;
$color-info-darker:         darken($color-info, 10%) !default;

$color-background-light:    lighten($color-background, 2.5%) !default;
$color-background-lighter:  lighten($color-background, 5%) !default;

$color-background-dark:     darken($color-background, 5%) !default;
$color-background-darker:   darken($color-background, 10%) !default;

//$transition-short:          0.12s !default;
//$transition-medium:         0.24s !default;
//$transition-long:           0.48s !default;
//$transition-extended:       0.96s !default;

$sm-radius:                 1px !default;
$md-radius:                 2px !default;
$radius-large:              4px !default;
$radius-extended:           8px !default;