.cookie 
    z-index: 2000
    position: fixed
    bottom: 0
    left: 50%
    display: none
    width: 400px
    max-width: 100%
    padding: 20px
    transform: translateX(-50%)

.cookie__inner 
    padding: 20px
    background: $color-white
    box-shadow: 0 2px 7px rgba($color-black, 0.15)

.cookie .form-group 
    margin-bottom: 0

#CybotCookiebotDialog 
    position: fixed !important
    top: 50% !important
    left: 50% !important
    width: 640px !important
    max-width: calc(100% - 20px) !important
    padding: 20px 30px !important
    transform: translate(-50%, -50%) !important
    box-shadow: 0 2px 7px rgba($color-black, 0.15) !important

#CybotCookiebotDialogBody 
    max-width: 100% !important

#CybotCookiebotDialogBodyContentTitle 
    font-size: 24px !important
    margin-bottom: 10px !important

#CybotCookiebotDialogBodyContentText 
    font-size: 15px !important
    margin-bottom: 10px !important

#CybotCookiebotDialogBodyLevelDetailsWrapper 
    font-size: 13px !important
    line-height: 32px !important

#CybotCookiebotDialogBodyLevelDetailsWrapper 
    border-radius: 0 $md-radius $md-radius 0 !important

#CybotCookiebotDialogBodyLevelButtonsSelectPane 
    border-radius: $md-radius 0 0 $md-radius !important

#CybotCookiebotDialogBodyLevelButtonsSelectPane label 
    font-size: 13px !important
    line-height: 32px !important
    background-position: left 8px !important

a#CybotCookiebotDialogBodyLevelButtonAccept,
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll 
    border-color: $color-primary !important
    background-color: $color-primary !important
    font-size: 14px !important
    line-height: 32px !important
    border-radius: $md-radius !important

