@font-face 
    font-family: 'sx-icon'
    src: url('/bundle/fonts/sx-icon.eot?84580693')
    src: url('/bundle/fonts/sx-icon.eot?84580693#iefix') format('embedded-opentype'),
    url('/bundle/fonts/sx-icon.woff2?84580693') format('woff2'),
    url('/bundle/fonts/sx-icon.woff?84580693') format('woff'),
    url('/bundle/fonts/sx-icon.ttf?84580693') format('truetype'),
    url('/bundle/fonts/sx-icon.svg?84580693#sx-icon') format('svg')
    font-weight: normal
    font-style: normal

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) 
  @font-face 
    font-family: 'sx-icon'
    src: url('../font/sx-icon.svg?84580693#sx-icon') format('svg')

*/

[class^="sx-"]:before, [class*=" sx-"]:before 
    font-family: "sx-icon"
    font-style: normal
    font-weight: normal
    speak: none

    display: inline-block
    text-decoration: inherit
    width: 1em
    margin-right: .2em
    text-align: center
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal
    text-transform: none

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

.sx-guidedog:before 
    content: '\21'

/* '!' */
.sx-whatsapp:before 
    content: '\22'

/* '&quot;' */
.sx-left-circled:before 
    content: '\e800'

/* '' */
.sx-right-circled:before 
    content: '\e801'

/* '' */
.sx-up-circled:before 
    content: '\e802'

/* '' */
.sx-down-circled:before 
    content: '\e803'

/* '' */
.sx-angle-circled-down:before 
    content: '\e804'

/* '' */
.sx-angle-circled-up:before 
    content: '\e805'

/* '' */
.sx-angle-circled-right:before 
    content: '\e806'

/* '' */
.sx-angle-circled-left:before 
    content: '\e807'

/* '' */
.sx-zoom-in:before 
    content: '\e808'

/* '' */
.sx-zoom-out:before 
    content: '\e809'

/* '' */
.sx-off:before 
    content: '\e80a'

/* '' */
.sx-play:before 
    content: '\e80b'

/* '' */
.sx-play-circled:before 
    content: '\e80c'

/* '' */
.sx-play-circled2:before 
    content: '\e80d'

/* '' */
.sx-facebook:before 
    content: '\e80e'

/* '' */
.sx-circle:before 
    content: '\e80f'

/* '' */
.sx-circle-empty:before 
    content: '\e810'

/* '' */
.sx-dot-circled:before 
    content: '\e811'

/* '' */
.sx-basket:before 
    content: '\e812'

/* '' */
.sx-bag:before 
    content: '\e813'

/* '' */
.sx-lock-open:before 
    content: '\e814'

/* '' */
.sx-lock:before 
    content: '\e815'

/* '' */
.sx-mail:before 
    content: '\e816'

/* '' */
.sx-heart:before 
    content: '\e817'

/* '' */
.sx-heart-empty:before 
    content: '\e818'

/* '' */
.sx-star:before 
    content: '\e819'

/* '' */
.sx-star-empty:before 
    content: '\e81a'

/* '' */
.sx-left-open-big:before 
    content: '\e81b'

/* '' */
.sx-right-open-big:before 
    content: '\e81c'

/* '' */
.sx-up-open-big:before 
    content: '\e81d'

/* '' */
.sx-down-open-big:before 
    content: '\e81e'

/* '' */
.sx-left-open-mini:before 
    content: '\e81f'

/* '' */
.sx-right-open-mini:before 
    content: '\e820'

/* '' */
.sx-up-open-mini:before 
    content: '\e821'

/* '' */
.sx-down-open-mini:before 
    content: '\e822'

/* '' */
.sx-dot-3:before 
    content: '\e823'

/* '' */
.sx-facebook-circled:before 
    content: '\e824'

/* '' */
.sx-twitter-circled:before 
    content: '\e825'

/* '' */
.sx-vimeo-circled:before 
    content: '\e826'

/* '' */
.sx-pinterest-circled:before 
    content: '\e827'

/* '' */
.sx-gplus-circled:before 
    content: '\e828'

/* '' */
.sx-linkedin-circled:before 
    content: '\e829'

/* '' */
.sx-dribbble-circled:before 
    content: '\e82a'

/* '' */
.sx-stumbleupon-circled:before 
    content: '\e82b'

/* '' */
.sx-lastfm-circled:before 
    content: '\e82c'

/* '' */
.sx-rdio-circled:before 
    content: '\e82d'

/* '' */
.sx-tumblr-circled:before 
    content: '\e82e'

/* '' */
.sx-tumblr:before 
    content: '\e82f'

/* '' */
.sx-pinterest:before 
    content: '\e830'

/* '' */
.sx-gplus:before 
    content: '\e831'

/* '' */
.sx-facebook-1:before 
    content: '\e832'

/* '' */
.sx-twitter:before 
    content: '\e833'

/* '' */
.sx-vimeo:before 
    content: '\e834'

/* '' */
.sx-flickr-circled:before 
    content: '\e835'

/* '' */
.sx-flickr:before 
    content: '\e836'

/* '' */
.sx-github-circled:before 
    content: '\e837'

/* '' */
.sx-github:before 
    content: '\e838'

/* '' */
.sx-lastfm:before 
    content: '\e839'

/* '' */
.sx-stumbleupon:before 
    content: '\e83a'

/* '' */
.sx-dribbble:before 
    content: '\e83b'

/* '' */
.sx-linkedin:before 
    content: '\e83c'

/* '' */
.sx-ok-circle:before 
    content: '\e83d'

/* '' */
.sx-gplus-circled-1:before 
    content: '\e83e'

/* '' */
.sx-gplus-1:before 
    content: '\e83f'

/* '' */
.sx-vimeo-2:before 
    content: '\e840'

/* '' */
.sx-twitter-1:before 
    content: '\e841'

/* '' */
.sx-soundcloud-circled:before 
    content: '\e842'

/* '' */
.sx-soundcloud:before 
    content: '\e843'

/* '' */
.sx-youtube:before 
    content: '\e844'

/* '' */
.sx-w3c:before 
    content: '\e845'

/* '' */
.sx-html5:before 
    content: '\e846'

/* '' */
.sx-ie:before 
    content: '\e847'

/* '' */
.sx-amex:before 
    content: '\e848'

/* '' */
.sx-discover:before 
    content: '\e849'

/* '' */
.sx-visa:before 
    content: '\e84a'

/* '' */
.sx-mastercard:before 
    content: '\e84b'

/* '' */
.sx-picasa:before 
    content: '\e84c'

/* '' */
.sx-mail-1:before 
    content: '\e84d'

/* '' */
.sx-search:before 
    content: '\e84e'

/* '' */
.sx-search-circled:before 
    content: '\e84f'

/* '' */
.sx-facebook-2:before 
    content: '\e850'

/* '' */
.sx-tumblr-1:before 
    content: '\e851'

/* '' */
.sx-vimeo-1:before 
    content: '\e852'

/* '' */
.sx-vkontakte:before 
    content: '\e853'

/* '' */
.sx-w3c-1:before 
    content: '\e854'

/* '' */
.sx-linkedin-1:before 
    content: '\e855'

/* '' */
.sx-googleplus:before 
    content: '\e856'

/* '' */
.sx-flickr-1:before 
    content: '\e857'

/* '' */
.sx-foursquare:before 
    content: '\e858'

/* '' */
.sx-friendfeed-rect:before 
    content: '\e859'

/* '' */
.sx-blogger:before 
    content: '\e85a'

/* '' */
.sx-behance:before 
    content: '\e85b'

/* '' */
.sx-css:before 
    content: '\e85c'

/* '' */
.sx-left-open:before 
    content: '\e85d'

/* '' */
.sx-right-open:before 
    content: '\e85e'

/* '' */
.sx-up-open:before 
    content: '\e85f'

/* '' */
.sx-down-open:before 
    content: '\e860'

/* '' */
.sx-mail-circled:before 
    content: '\e861'

/* '' */
.sx-align-justify-1:before 
    content: '\e862'

/* '' */
.sx-pause:before 
    content: '\e863'

/* '' */
.sx-pause-circled:before 
    content: '\e864'

/* '' */
.sx-stop:before 
    content: '\e865'

/* '' */
.sx-stop-circled:before 
    content: '\e866'

/* '' */
.sx-volume-up:before 
    content: '\e867'

/* '' */
.sx-volume:before 
    content: '\e868'

/* '' */
.sx-volume-down:before 
    content: '\e869'

/* '' */
.sx-volume-off:before 
    content: '\e86a'

/* '' */
.sx-phone-circled:before 
    content: '\e86b'

/* '' */
.sx-phone:before 
    content: '\e86c'

/* '' */
.sx-rss:before 
    content: '\e86d'

/* '' */
.sx-cog:before 
    content: '\e86e'

/* '' */
.sx-cog-circled:before 
    content: '\e86f'

/* '' */
.sx-cogs:before 
    content: '\e870'

/* '' */
.sx-wrench-circled:before 
    content: '\e871'

/* '' */
.sx-wrench:before 
    content: '\e872'

/* '' */
.sx-basket-circled:before 
    content: '\e873'

/* '' */
.sx-pencil-circled:before 
    content: '\e874'

/* '' */
.sx-pencil:before 
    content: '\e875'

/* '' */
.sx-headphones:before 
    content: '\e876'

/* '' */
.sx-v:before 
    content: '\e877'

/* '' */
.sx-comment:before 
    content: '\e878'

/* '' */
.sx-comment-alt:before 
    content: '\e879'

/* '' */
.sx-th-large:before 
    content: '\e87a'

/* '' */
.sx-th:before 
    content: '\e87b'

/* '' */
.sx-home:before 
    content: '\e87c'

/* '' */
.sx-camera:before 
    content: '\e87d'

/* '' */
.sx-picture:before 
    content: '\e87e'

/* '' */
.sx-video-chat:before 
    content: '\e87f'

/* '' */
.sx-star-1:before 
    content: '\e880'

/* '' */
.sx-star-circled:before 
    content: '\e881'

/* '' */
.sx-star-empty-1:before 
    content: '\e882'

/* '' */
.sx-group:before 
    content: '\e883'

/* '' */
.sx-user:before 
    content: '\e884'

/* '' */
.sx-group-circled:before 
    content: '\e885'

/* '' */
.sx-icon-nav:before 
    content: '\e886'

/* '' */
.sx-arrows-cw:before 
    content: '\e887'

/* '' */
.sx-th-list:before 
    content: '\e888'

/* '' */
.sx-ok-circle-1:before 
    content: '\e889'

/* '' */
.sx-minus-circle:before 
    content: '\e88a'

/* '' */
.sx-plus-circle:before 
    content: '\e88b'

/* '' */
.sx-cancel-circle:before 
    content: '\e88c'

/* '' */
.sx-resize-full-circle:before 
    content: '\e88d'

/* '' */
.sx-location:before 
    content: '\e88e'

/* '' */
.sx-attach:before 
    content: '\e88f'

/* '' */
.sx-lock-1:before 
    content: '\e890'

/* '' */
.sx-target:before 
    content: '\e891'

/* '' */
.sx-down-circle:before 
    content: '\e892'

/* '' */
.sx-left-circle:before 
    content: '\e893'

/* '' */
.sx-right-circle:before 
    content: '\e894'

/* '' */
.sx-up-circle:before 
    content: '\e895'

/* '' */
.sx-spin1:before 
    content: '\e896'

/* '' */
.sx-spin2:before 
    content: '\e897'

/* '' */
.sx-spin3:before 
    content: '\e898'

/* '' */
.sx-spin4:before 
    content: '\e899'

/* '' */
.sx-spin5:before 
    content: '\e89a'

/* '' */
.sx-spin6:before 
    content: '\e89b'

/* '' */
.sx-v-mono:before 
    content: '\e89c'

/* '' */
.sx-dot:before 
    content: '\e89d'

/* '' */
.sx-icon-tel:before 
    content: '\e89e'

/* '' */
.sx-icon-web:before 
    content: '\e89f'

/* '' */
.sx-dot-2:before 
    content: '\e8a0'

/* '' */
.sx-android:before 
    content: '\e8a1'

/* '' */
.sx-windows:before 
    content: '\e8a2'

/* '' */
.sx-xing:before 
    content: '\e8a3'

/* '' */
.sx-yahoo:before 
    content: '\e8a4'

/* '' */
.sx-icon-nav2:before 
    content: '\e8a5'

/* '' */
.sx-pfeil-left:before 
    content: '\e8a6'

/* '' */
.sx-pfeil-right:before 
    content: '\e8a7'

/* '' */
.sx-pfeil-top:before 
    content: '\e8a8'

/* '' */
.sx-pfeil-bottom:before 
    content: '\e8a9'

/* '' */
.sx-trash-circled:before 
    content: '\e8aa'

/* '' */
.sx-trash:before 
    content: '\e8ab'

/* '' */
.sx-calendar:before 
    content: '\e8ac'

/* '' */
.sx-calendar-circled:before 
    content: '\e8ad'

/* '' */
.sx-basket-1:before 
    content: '\e8ae'

/* '' */
.sx-down-circled2:before 
    content: '\e8af'

/* '' */
.sx-download-cloud:before 
    content: '\e8b0'

/* '' */
.sx-location-circled:before 
    content: '\e8b1'

/* '' */
.sx-location-1:before 
    content: '\e8b2'

/* '' */
.sx-zoom-out-1:before 
    content: '\e8b3'

/* '' */
.sx-zoom-in-1:before 
    content: '\e8b4'

/* '' */
.sx-attach-circled:before 
    content: '\e8b5'

/* '' */
.sx-attach-1:before 
    content: '\e8b6'

/* '' */
.sx-home-circled:before 
    content: '\e8b7'

/* '' */
.sx-lock-circled:before 
    content: '\e8b8'

/* '' */
.sx-lock-2:before 
    content: '\e8b9'

/* '' */
.sx-lock-open-1:before 
    content: '\e8ba'

/* '' */
.sx-lock-open-alt:before 
    content: '\e8bb'

/* '' */
.sx-inbox-circled:before 
    content: '\e8bc'

/* '' */
.sx-doc-circled:before 
    content: '\e8bd'

/* '' */
.sx-doc:before 
    content: '\e8be'

/* '' */
.sx-lightbulb-alt:before 
    content: '\e8bf'

/* '' */
.sx-lightbulb:before 
    content: '\e8c0'

/* '' */
.sx-trash-1:before 
    content: '\e8c1'

/* '' */
.sx-basket-2:before 
    content: '\e8c2'

/* '' */
.sx-signal:before 
    content: '\e8c3'

/* '' */
.sx-icon-mail-kreis:before 
    content: '\e8c4'

/* '' */
.sx-info-1:before 
    content: '\e8c5'

/* '' */
.sx-attention-filled:before 
    content: '\e8c6'

/* '' */
.sx-warning:before 
    content: '\e8c7'

/* '' */
.sx-attention-circled:before 
    content: '\e8c8'

/* '' */
.sx-gift:before 
    content: '\e8c9'

/* '' */
.sx-gift-1:before 
    content: '\e8ca'

/* '' */
.sx-calendar-1:before 
    content: '\e8cb'

/* '' */
.sx-clock-1:before 
    content: '\e8cc'

/* '' */
.sx-download:before 
    content: '\e8cd'

/* '' */
.sx-download-alt:before 
    content: '\e8ce'

/* '' */
.sx-compass-circled:before 
    content: '\e8cf'

/* '' */
.sx-compass:before 
    content: '\e8d0'

/* '' */
.sx-compass-1:before 
    content: '\e8d1'

/* '' */
.sx-compass-2:before 
    content: '\e8d2'

/* '' */
.sx-down-dir:before 
    content: '\e8d3'

/* '' */
.sx-down-open-1:before 
    content: '\e8d4'

/* '' */
.sx-angle-down:before 
    content: '\e8d5'

/* '' */
.sx-up-dir:before 
    content: '\e8d6'

/* '' */
.sx-up-open-1:before 
    content: '\e8d7'

/* '' */
.sx-angle-up:before 
    content: '\e8d8'

/* '' */
.sx-thumbs-up-alt:before 
    content: '\e8d9'

/* '' */
.sx-thumbs-down-alt:before 
    content: '\e8da'

/* '' */
.sx-thumbs-up-1:before 
    content: '\e8db'

/* '' */
.sx-thumbs-down-1:before 
    content: '\e8dc'

/* '' */
.sx-th-list-1:before 
    content: '\e8dd'

/* '' */
.sx-pfeil-resize-small:before 
    content: '\e8de'

/* '' */
.sx-plus-1:before 
    content: '\e8df'

/* '' */
.sx-plus-circled:before 
    content: '\e8e0'

/* '' */
.sx-minus-1:before 
    content: '\e8e1'

/* '' */
.sx-minus-circled:before 
    content: '\e8e2'

/* '' */
.sx-pfeil-resize-full:before 
    content: '\e8e3'

/* '' */
.sx-export:before 
    content: '\e8e4'

/* '' */
.sx-upload:before 
    content: '\e8e5'

/* '' */
.sx-male:before 
    content: '\e8e6'

/* '' */
.sx-female:before 
    content: '\e8e7'

/* '' */
.sx-share:before 
    content: '\e8e8'

/* '' */
.sx-social-youtube-rund:before 
    content: '\e8e9'

/* '' */
.sx-icon-kommentieren:before 
    content: '\e8ea'

/* '' */
.sx-icon-antworten:before 
    content: '\e8eb'

/* '' */
.sx-icon-herzschloss-kreis:before 
    content: '\e8ec'

/* '' */
.sx-icon-lieblingsmaedchen:before 
    content: '\e8ed'

/* '' */
.sx-icon-herzschloss:before 
    content: '\e8ee'

/* '' */
.sx-icon-share-kreis:before 
    content: '\e8ef'

/* '' */
.sx-x:before 
    content: '\e8f0'

/* '' */
.sx-x-mono:before 
    content: '\e8f1'

/* '' */
.sx-cancel:before 
    content: '\e8f2'

/* '' */
.sx-cancel-1:before 
    content: '\e8f3'

/* '' */
.sx-cancel-circle-1:before 
    content: '\e8f4'

/* '' */
.sx-lock-open-2:before 
    content: '\e8f5'

/* '' */
.sx-lock-3:before 
    content: '\e8f6'

/* '' */
.sx-hourglass:before 
    content: '\e8f7'

/* '' */
.sx-plus:before 
    content: '\e8f8'

/* '' */
.sx-plus-circled-1:before 
    content: '\e8f9'

/* '' */
.sx-comment-1:before 
    content: '\e8fa'

/* '' */
.sx-chat:before 
    content: '\e8fb'

/* '' */
.sx-comment-empty:before 
    content: '\e8fc'

/* '' */
.sx-chat-empty:before 
    content: '\e8fd'

/* '' */
.sx-sun:before 
    content: '\e8fe'

/* '' */
.sx-moon:before 
    content: '\e8ff'

/* '' */
.sx-cloud-sun:before 
    content: '\e900'

/* '' */
.sx-cloud-moon:before 
    content: '\e901'

/* '' */
.sx-cloud:before 
    content: '\e902'

/* '' */
.sx-clouds:before 
    content: '\e903'

/* '' */
.sx-rain:before 
    content: '\e904'

/* '' */
.sx-drizzle:before 
    content: '\e905'

/* '' */
.sx-cloud-flash-alt:before 
    content: '\e906'

/* '' */
.sx-snow-heavy:before 
    content: '\e907'

/* '' */
.sx-fog:before 
    content: '\e908'

/* '' */
.sx-right-dir:before 
    content: '\e909'

/* '' */
.sx-left-dir:before 
    content: '\e90a'

/* '' */
.sx-angle-left:before 
    content: '\e90b'

/* '' */
.sx-angle-right:before 
    content: '\e90c'

/* '' */
.sx-attention:before 
    content: '\e90d'

/* '' */
.sx-cancel-circle-2:before 
    content: '\e90e'

/* '' */
.sx-plus-circle-1:before 
    content: '\e90f'

/* '' */
.sx-minus-circle-1:before 
    content: '\e910'

/* '' */
.sx-skype:before 
    content: '\e911'

/* '' */
.sx-heart-1:before 
    content: '\e912'

/* '' */
.sx-heart-circled:before 
    content: '\e913'

/* '' */
.sx-heart-empty-1:before 
    content: '\e914'

/* '' */
.sx-wordpress:before 
    content: '\e915'

/* '' */
.sx-skype-1:before 
    content: '\e916'

/* '' */
.sx-male-1:before 
    content: '\e917'

/* '' */
.sx-female-1:before 
    content: '\e918'

/* '' */
.sx-child:before 
    content: '\e919'

/* '' */
.sx-users:before 
    content: '\e91a'

/* '' */
.sx-user-1:before 
    content: '\e91b'

/* '' */
.sx-attach-2:before 
    content: '\e91c'

/* '' */
.sx-pin:before 
    content: '\e91d'

/* '' */
.sx-home-1:before 
    content: '\e91e'

/* '' */
.sx-icon-nav-thin:before 
    content: '\e91f'

/* '' */
.sx-print:before 
    content: '\e920'

/* '' */
.sx-instagram:before 
    content: '\e921'

/* '' */
.sx-instagram-circled:before 
    content: '\e922'

/* '' */
.sx-instagram-1:before 
    content: '\e923'

/* '' */
.sx-instagramm:before 
    content: '\e924'

/* '' */
.sx-ok:before 
    content: '\e925'

/* '' */
.sx-ok-1:before 
    content: '\e926'

/* '' */
.sx-ok-2:before 
    content: '\e927'

/* '' */
.sx-book:before 
    content: '\e928'

/* '' */
.sx-book-1:before 
    content: '\e929'

/* '' */
.sx-bookmark:before 
    content: '\e92a'

/* '' */
.sx-bookmark-1:before 
    content: '\e92b'

/* '' */
.sx-bookmark-empty:before 
    content: '\e92c'

/* '' */
.sx-mail-2:before 
    content: '\e92d'

/* '' */
.sx-email:before 
    content: '\e92e'

/* '' */
.sx-cloud-flash:before 
    content: '\e92f'

/* '' */
.sx-clouds-flash:before 
    content: '\e930'

/* '' */
.sx-cloud-sun-inv:before 
    content: '\e931'

/* '' */
.sx-cloud-moon-inv:before 
    content: '\e932'

/* '' */
.sx-cloud-inv:before 
    content: '\e933'

/* '' */
.sx-cloud-flash-inv:before 
    content: '\e934'

/* '' */
.sx-drizzle-inv:before 
    content: '\e935'

/* '' */
.sx-rain-inv:before 
    content: '\e936'

/* '' */
.sx-moon-inv:before 
    content: '\e937'

/* '' */
.sx-sun-inv:before 
    content: '\e938'

/* '' */
.sx-clouds-flash-alt:before 
    content: '\e939'

/* '' */
.sx-celcius:before 
    content: '\e93a'

/* '' */
.sx-fahrenheit:before 
    content: '\e93b'

/* '' */
.sx-compass-3:before 
    content: '\e93c'

/* '' */
.sx-clouds-flash-inv:before 
    content: '\e93d'

/* '' */
.sx-clouds-inv:before 
    content: '\e93e'

/* '' */
.sx-hail-inv:before 
    content: '\e93f'

/* '' */
.sx-snow-heavy-inv:before 
    content: '\e940'

/* '' */
.sx-snow-inv:before 
    content: '\e941'

/* '' */
.sx-windy-rain-inv:before 
    content: '\e942'

/* '' */
.sx-windy-inv:before 
    content: '\e943'

/* '' */
.sx-sunrise:before 
    content: '\e944'

/* '' */
.sx-eclipse:before 
    content: '\e945'

/* '' */
.sx-mist:before 
    content: '\e946'

/* '' */
.sx-wind:before 
    content: '\e947'

/* '' */
.sx-snowflake:before 
    content: '\e948'

/* '' */
.sx-windy-rain:before 
    content: '\e949'

/* '' */
.sx-snow:before 
    content: '\e94a'

/* '' */
.sx-snow-alt:before 
    content: '\e94b'

/* '' */
.sx-hail:before 
    content: '\e94c'

/* '' */
.sx-fog-sun:before 
    content: '\e94d'

/* '' */
.sx-fog-moon:before 
    content: '\e94e'

/* '' */
.sx-fog-cloud:before 
    content: '\e94f'

/* '' */
.sx-windy:before 
    content: '\e950'

/* '' */
.sx-na:before 
    content: '\e951'

/* '' */
.sx-temperature:before 
    content: '\e952'

/* '' */
.sx-female-2:before 
    content: '\e953'

/* '' */
.sx-male-2:before 
    content: '\e954'

/* '' */
.sx-link:before 
    content: '\e955'

/* '' */
.sx-diamond:before 
    content: '\e956'

/* '' */
.sx-eye:before 
    content: '\e957'

/* '' */
.sx-eye-1:before 
    content: '\e958'

/* '' */
.sx-eye-2:before 
    content: '\e959'

/* '' */
.sx-eye-off:before 
    content: '\e95a'

/* '' */
.sx-eye-off-1:before 
    content: '\e95b'

/* '' */
.sx-eye-3:before 
    content: '\e95c'

/* '' */
.sx-picasa-1:before 
    content: '\e95d'

/* '' */
.sx-icon-warenkorb-kreis:before 
    content: '\e95e'

/* '' */
.sx-icon-anfahrt-kreis:before 
    content: '\e95f'

/* '' */
.sx-icon-auge-kreis:before 
    content: '\e960'

/* '' */
.sx-icon-info-kreis:before 
    content: '\e961'

/* '' */
.sx-rss-1:before 
    content: '\e962'

/* '' */
.sx-rss-alt:before 
    content: '\e963'

/* '' */
.sx-mobile:before 
    content: '\e964'

/* '' */
.sx-mobile-alt:before 
    content: '\e965'

/* '' */
.sx-tablet:before 
    content: '\e966'

/* '' */
.sx-ipod:before 
    content: '\e967'

/* '' */
.sx-cd:before 
    content: '\e968'

/* '' */
.sx-globe:before 
    content: '\e969'

/* '' */
.sx-print-1:before 
    content: '\e96a'

/* '' */
.sx-star-2:before 
    content: '\e96b'

/* '' */
.sx-star-empty-2:before 
    content: '\e96c'

/* '' */
.sx-star-half:before 
    content: '\e96d'

/* '' */
.sx-star-half-alt:before 
    content: '\e96e'

/* '' */
.sx-icon-koffer-kreis:before 
    content: '\e96f'

/* '' */
.sx-icon-koffer:before 
    content: '\e970'

/* '' */
.sx-cancel-circled:before 
    content: '\e971'

/* '' */
.sx-cancel-circled-outline:before 
    content: '\e972'

/* '' */
.sx-resize-full:before 
    content: '\e973'

/* '' */
.sx-angle-double-left:before 
    content: '\e974'

/* '' */
.sx-angle-double-right:before 
    content: '\e975'

/* '' */
.sx-angle-double-up:before 
    content: '\e976'

/* '' */
.sx-angle-double-down:before 
    content: '\e977'

/* '' */
.sx-resize-small:before 
    content: '\e978'

/* '' */
.sx-resize-full-1:before 
    content: '\e979'

/* '' */
.sx-resize-small-1:before 
    content: '\e97a'

/* '' */
.sx-resize-full-2:before 
    content: '\e97b'

/* '' */
.sx-anchor:before 
    content: '\e97c'

/* '' */
.sx-icon-koffer-halb:before 
    content: '\e97d'

/* '' */
.sx-icon-koffer-halb-kreis:before 
    content: '\e97e'

/* '' */
.sx-icon-koffer-halb2:before 
    content: '\e97f'

/* '' */
.sx-icon-koffer-halb-kreis2:before 
    content: '\e980'

/* '' */
.sx-icon-jameda-kreis:before 
    content: '\e981'

/* '' */
.sx-icon-productplacement-kreis:before 
    content: '\e982'

/* '' */
.sx-icon-nav-thin-2:before 
    content: '\e983'

/* '' */
.sx-icon-airplane-lounge:before 
    content: '\e984'

/* '' */
.sx-home-2:before 
    content: '\e985'

/* '' */
.sx-resize-full-alt:before 
    content: '\e986'

/* '' */
.sx-resize-vertical:before 
    content: '\e987'

/* '' */
.sx-resize-horizontal:before 
    content: '\e988'

/* '' */
.sx-flag:before 
    content: '\e989'

/* '' */
.sx-help:before 
    content: '\e98a'

/* '' */
.sx-help-circled:before 
    content: '\e98b'

/* '' */
.sx-icon-productplacement-kreis-voll:before 
    content: '\e98c'

/* '' */
.sx-trash-2:before 
    content: '\e98d'

/* '' */
.sx-question:before 
    content: '\e98e'

/* '' */
.sx-mobile-1:before 
    content: '\e98f'

/* '' */
.sx-phone-1:before 
    content: '\e990'

/* '' */
.sx-calendar-2:before 
    content: '\e991'

/* '' */
.sx-icon-nav-thin-3:before 
    content: '\e992'

/* '' */
.sx-icon-camera-big:before 
    content: '\e993'

/* '' */
.sx-cog-1:before 
    content: '\e994'

/* '' */
.sx-print-2:before 
    content: '\e995'

/* '' */
.sx-print-3:before 
    content: '\e996'

/* '' */
.sx-fax:before 
    content: '\e997'

/* '' */
.sx-mail-3:before 
    content: '\e998'

/* '' */
.sx-mail-alt:before 
    content: '\e999'

/* '' */
.sx-bell-alt:before 
    content: '\e99a'

/* '' */
.sx-bell-off:before 
    content: '\e99b'

/* '' */
.sx-bookmark-empty-1:before 
    content: '\e99c'

/* '' */
.sx-bookmark-2:before 
    content: '\e99d'

/* '' */
.sx-hourglass-1:before 
    content: '\e99e'

/* '' */
.sx-cancel-circled-1:before 
    content: '\e99f'

/* '' */
.sx-ok-circled2:before 
    content: '\e9a0'

/* '' */
.sx-ok-circled:before 
    content: '\e9a1'

/* '' */
.sx-search-1:before 
    content: '\e9a2'

/* '' */
.sx-search-2:before 
    content: '\e9a3'

/* '' */
.sx-attach-3:before 
    content: '\e9a4'

/* '' */
.sx-video:before 
    content: '\e9a5'

/* '' */
.sx-video-1:before 
    content: '\e9a6'

/* '' */
.sx-videocam:before 
    content: '\e9a7'

/* '' */
.sx-videocam-1:before 
    content: '\e9a8'

/* '' */
.sx-movie:before 
    content: '\e9a9'

/* '' */
.sx-video-alt:before 
    content: '\e9aa'

/* '' */
.sx-calendar-empty:before 
    content: '\e9ab'

/* '' */
.sx-calendar-3:before 
    content: '\e9ac'

/* '' */
.sx-calendar-inv:before 
    content: '\e9ad'

/* '' */
.sx-calendar-4:before 
    content: '\e9ae'

/* '' */
.sx-calendar-5:before 
    content: '\e9af'

/* '' */
.sx-calendar-alt:before 
    content: '\e9b0'

/* '' */
.sx-icon-smiley-01:before 
    content: '\e9b1'

/* '' */
.sx-icon-smiley-02:before 
    content: '\e9b2'

/* '' */
.sx-smile:before 
    content: '\e9b3'

/* '' */
.sx-frown:before 
    content: '\e9b4'

/* '' */
.sx-meh:before 
    content: '\e9b5'

/* '' */
.sx-chair-ahs-icon:before 
    content: '\e9b6'

/* '' */
.sx-filter:before 
    content: '\e9b7'

/* '' */
.sx-filter-1:before 
    content: '\e9b8'

/* '' */
.sx-icon-nav-thin-4:before 
    content: '\e9b9'

/* '' */
.sx-plus-2:before 
    content: '\e9ba'

/* '' */
.sx-plus-3:before 
    content: '\e9bb'

/* '' */
.sx-minus:before 
    content: '\e9bc'

/* '' */
.sx-minus-2:before 
    content: '\e9bd'

/* '' */
.sx-minus-circled-1:before 
    content: '\e9be'

/* '' */
.sx-minus-3:before 
    content: '\e9bf'

/* '' */
.sx-minus-circled-2:before 
    content: '\e9c0'

/* '' */
.sx-eject:before 
    content: '\e9c1'

/* '' */
.sx-to-end:before 
    content: '\e9c2'

/* '' */
.sx-to-start:before 
    content: '\e9c3'

/* '' */
.sx-pause-1:before 
    content: '\e9c4'

/* '' */
.sx-stop-1:before 
    content: '\e9c5'

/* '' */
.sx-play-1:before 
    content: '\e9c6'

/* '' */
.sx-play-circle2:before 
    content: '\e9c7'

/* '' */
.sx-down-circle-1:before 
    content: '\e9c8'

/* '' */
.sx-left-circle-1:before 
    content: '\e9c9'

/* '' */
.sx-right-circle-1:before 
    content: '\e9ca'

/* '' */
.sx-up-circle-1:before 
    content: '\e9cb'

/* '' */
.sx-cw:before 
    content: '\e9cc'

/* '' */
.sx-loop:before 
    content: '\e9cd'

/* '' */
.sx-loop-alt:before 
    content: '\e9ce'

/* '' */
.sx-headphones-1:before 
    content: '\e9cf'

/* '' */
.sx-volume-off-1:before 
    content: '\e9d0'

/* '' */
.sx-volume-up-1:before 
    content: '\e9d1'

/* '' */
.sx-mic:before 
    content: '\e9d2'

/* '' */
.sx-clock:before 
    content: '\e9d3'

/* '' */
.sx-lamp:before 
    content: '\e9d4'

/* '' */
.sx-resize-full-alt-1:before 
    content: '\e9d5'

/* '' */
.sx-resize-small-2:before 
    content: '\e9d6'

/* '' */
.sx-resize-small-alt:before 
    content: '\e9d7'

/* '' */
.sx-move:before 
    content: '\e9d8'

/* '' */
.sx-resize-horizontal-1:before 
    content: '\e9d9'

/* '' */
.sx-resize-vertical-1:before 
    content: '\e9da'

/* '' */
.sx-popup:before 
    content: '\e9db'

/* '' */
.sx-cog-2:before 
    content: '\e9dc'

/* '' */
.sx-left:before 
    content: '\e9dd'

/* '' */
.sx-right:before 
    content: '\e9de'

/* '' */
.sx-down:before 
    content: '\e9df'

/* '' */
.sx-up:before 
    content: '\e9e0'

/* '' */
.sx-location-inv:before 
    content: '\e9e1'

/* '' */
.sx-location-2:before 
    content: '\e9e2'

/* '' */
.sx-compass-4:before 
    content: '\e9e3'

/* '' */
.sx-home-3:before 
    content: '\e9e4'

/* '' */
.sx-info:before 
    content: '\e9e5'

/* '' */
.sx-cancel-2:before 
    content: '\e9e6'

/* '' */
.sx-calendar-6:before 
    content: '\e9e7'

/* '' */
.sx-zoom-in-outline:before 
    content: '\e9e8'

/* '' */
.sx-zoom-in-2:before 
    content: '\e9e9'

/* '' */
.sx-zoom-out-outline:before 
    content: '\e9ea'

/* '' */
.sx-zoom-out-2:before 
    content: '\e9eb'

/* '' */
.sx-calendar-outlilne:before 
    content: '\e9ec'

/* '' */
.sx-calendar-7:before 
    content: '\e9ed'

/* '' */
.sx-video-2:before 
    content: '\e9ee'

/* '' */
.sx-picture-1:before 
    content: '\e9ef'

/* '' */
.sx-camera-alt:before 
    content: '\e9f0'

/* '' */
.sx-camera-1:before 
    content: '\e9f1'

/* '' */
.sx-quote-left:before 
    content: '\e9f2'

/* '' */
.sx-quote-right:before 
    content: '\e9f3'

/* '' */
.sx-file-pdf:before 
    content: '\e9f4'

/* '' */
.sx-file-word:before 
    content: '\e9f5'

/* '' */
.sx-file-excel:before 
    content: '\e9f6'

/* '' */
.sx-file-powerpoint:before 
    content: '\e9f7'

/* '' */
.sx-file-image:before 
    content: '\e9f8'

/* '' */
.sx-file-archive:before 
    content: '\e9f9'

/* '' */
.sx-file-audio:before 
    content: '\e9fa'

/* '' */
.sx-file-video:before 
    content: '\e9fb'

/* '' */
.sx-award:before 
    content: '\e9fc'

/* '' */
.sx-laptop:before 
    content: '\e9fd'

/* '' */
.sx-desktop:before 
    content: '\e9fe'

/* '' */
.sx-tablet-1:before 
    content: '\e9ff'

/* '' */
.sx-mobile-2:before 
    content: '\ea00'

/* '' */
.sx-leaf:before 
    content: '\ea01'

/* '' */
.sx-to-start-alt:before 
    content: '\ea02'

/* '' */
.sx-fast-fw:before 
    content: '\ea03'

/* '' */
.sx-fast-bw:before 
    content: '\ea04'

/* '' */
.sx-eject-1:before 
    content: '\ea05'

/* '' */
.sx-to-end-1:before 
    content: '\ea06'

/* '' */
.sx-to-end-alt:before 
    content: '\ea07'

/* '' */
.sx-to-start-1:before 
    content: '\ea08'

/* '' */
.sx-pause-2:before 
    content: '\ea09'

/* '' */
.sx-stop-2:before 
    content: '\ea0a'

/* '' */
.sx-paypal:before 
    content: '\ea0b'

/* '' */
.sx-sellsy:before 
    content: '\ea0c'

/* '' */
.sx-soundcloud-1:before 
    content: '\ea0d'

/* '' */
.sx-xing-1:before 
    content: '\ea0e'

/* '' */
.sx-xing-squared:before 
    content: '\ea0f'

/* '' */
.sx-youtube-1:before 
    content: '\ea10'

/* '' */
.sx-youtube-squared:before 
    content: '\ea11'

/* '' */
.sx-vimeo-squared:before 
    content: '\ea12'

/* '' */
.sx-twitter-squared:before 
    content: '\ea13'

/* '' */
.sx-twitter-2:before 
    content: '\ea14'

/* '' */
.sx-tumblr-2:before 
    content: '\ea15'

/* '' */
.sx-stumbleupon-circled-1:before 
    content: '\ea16'

/* '' */
.sx-stumbleupon-1:before 
    content: '\ea17'

/* '' */
.sx-skype-2:before 
    content: '\ea18'

/* '' */
.sx-pinterest-squared:before 
    content: '\ea19'

/* '' */
.sx-pinterest-circled-1:before 
    content: '\ea1a'

/* '' */
.sx-pinterest-1:before 
    content: '\ea1b'

/* '' */
.sx-linkedin-2:before 
    content: '\ea1c'

/* '' */
.sx-linkedin-squared:before 
    content: '\ea1d'

/* '' */
.sx-lastfm-1:before 
    content: '\ea1e'

/* '' */
.sx-lastfm-squared:before 
    content: '\ea1f'

/* '' */
.sx-facebook-squared:before 
    content: '\ea20'

/* '' */
.sx-gplus-squared:before 
    content: '\ea21'

/* '' */
.sx-gplus-2:before 
    content: '\ea22'

/* '' */
.sx-google:before 
    content: '\ea23'

/* '' */
.sx-github-1:before 
    content: '\ea24'

/* '' */
.sx-git-squared:before 
    content: '\ea25'

/* '' */
.sx-git:before 
    content: '\ea26'

/* '' */
.sx-facebook-official:before 
    content: '\ea27'

/* '' */
.sx-behance-squared:before 
    content: '\ea28'

/* '' */
.sx-behance-1:before 
    content: '\ea29'

/* '' */
.sx-apple:before 
    content: '\ea2a'

/* '' */
.sx-angellist:before 
    content: '\ea2b'

/* '' */
.sx-android-1:before 
    content: '\ea2c'

/* '' */
.sx-cc-paypal:before 
    content: '\ea2d'

/* '' */
.sx-cc-stripe:before 
    content: '\ea2e'

/* '' */
.sx-cc-amex:before 
    content: '\ea2f'

/* '' */
.sx-cc-discover:before 
    content: '\ea30'

/* '' */
.sx-cc-mastercard:before 
    content: '\ea31'

/* '' */
.sx-cc-visa:before 
    content: '\ea32'

/* '' */
.sx-venus-mars:before 
    content: '\ea33'

/* '' */
.sx-mars-double:before 
    content: '\ea34'

/* '' */
.sx-venus-double:before 
    content: '\ea35'

/* '' */
.sx-transgender-alt:before 
    content: '\ea36'

/* '' */
.sx-transgender:before 
    content: '\ea37'

/* '' */
.sx-mercury:before 
    content: '\ea38'

/* '' */
.sx-mars:before 
    content: '\ea39'

/* '' */
.sx-venus:before 
    content: '\ea3a'

/* '' */
.sx-mars-stroke:before 
    content: '\ea3b'

/* '' */
.sx-mars-stroke-v:before 
    content: '\ea3c'

/* '' */
.sx-mars-stroke-h:before 
    content: '\ea3d'

/* '' */
.sx-calc:before 
    content: '\ea3e'

/* '' */
.sx-copyright:before 
    content: '\ea3f'

/* '' */
.sx-at:before 
    content: '\ea40'

/* '' */
.sx-tty:before 
    content: '\ea41'

/* '' */
.sx-wheelchair:before 
    content: '\ea42'

/* '' */
.sx-user-md:before 
    content: '\ea43'

/* '' */
.sx-stethoscope:before 
    content: '\ea44'

/* '' */
.sx-bed:before 
    content: '\ea45'

/* '' */
.sx-building:before 
    content: '\ea46'

/* '' */
.sx-cab:before 
    content: '\ea47'

/* '' */
.sx-bus:before 
    content: '\ea48'

/* '' */
.sx-bicycle:before 
    content: '\ea49'

/* '' */
.sx-motorcycle:before 
    content: '\ea4a'

/* '' */
.sx-credit-card:before 
    content: '\ea4b'

/* '' */
.sx-floppy:before 
    content: '\ea4c'

/* '' */
.sx-mic-1:before 
    content: '\ea4d'

/* '' */
.sx-filialen-2:before 
    content: '\ea7b'

/* '' */
.sx-gps-tourenguide:before 
    content: '\ea7c'

/* '' */
.sx-mitarbeiter:before 
    content: '\ea7d'

/* '' */
.sx-filialen:before 
    content: '\ea7e'

/* '' */
.sx-fluege:before 
    content: '\ea7f'

/* '' */
.sx-individuelle-reisen:before 
    content: '\ea80'

/* '' */
.sx-langjaehrige-erfahrung:before 
    content: '\ea81'

/* '' */
.sx-reiseunterlagen:before 
    content: '\ea82'

/* '' */
.sx-sicher-reisen:before 
    content: '\ea83'

/* '' */
.sx-starke-partner:before 
    content: '\ea84'

/* '' */

