.image 
    position: relative
    width: 100%
    height: auto
    background: $color-gray-10

.image.image--background 
    position: absolute
    background-position: center
    background-size: cover

.image img 
    z-index: 3
    width: 100%

.image:not(.empty):before 
    content: '\00a0'
    z-index: 1
    position: absolute
    top: calc(50% - 15px)
    left: calc(50% - 15px)
    display: block
    width: 30px
    height: 30px
    border: 2px solid $color-gray-30
    border-top-color: transparent
    border-radius: 500px
    animation: LoadSpinner 0.85s linear infinite

