@import "../icon/sass-inline-svg"

.keyvisual 
    position: relative
    height: calc(65vh - 80px)
    overflow: hidden

body[class*="view-frontpage-"] .keyvisual 
    height: 100vh

.keyvisual .keyvisual__slide,
.keyvisual .flickity-viewport  
    height: calc(65vh - 80px)

body[class*="view-frontpage-"] .keyvisual .keyvisual__slide,
body[class*="view-frontpage-"] .keyvisual .flickity-viewport 
    height: 100vh

.keyvisual .keyvisual__slide .image 
    position: relative
    height: 100%

.keyvisual .keyvisual__navigation 
    width: 100%
    height: 0

.keyvisual .keyvisual__prev 
    position: absolute
    top: calc(50% - 25px)
    left: 0
    display: block
    width: 50px
    height: 50px
    background-color: rgba($color-black, 0.7)
    background-size: 16px 16px
    background-position: center center
    background-repeat: no-repeat
    background-image: inline-svg('angle-left', $color-white)

.keyvisual .keyvisual__next 
    position: absolute
    top: calc(50% - 25px)
    right: 0
    display: block
    width: 50px
    height: 50px
    background-color: rgba($color-black, 0.7)
    background-size: 16px 16px
    background-position: center center
    background-repeat: no-repeat
    background-image: inline-svg('angle-right', $color-white)

.no-kv 
    height: 100px

