
@import "../icon/sass-inline-svg";

.breadcrumb {
    padding: 15px 0;
    background: $color-white;
}

.breadcrumb__item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.breadcrumb__item:not(:first-child):before {
    content: '\00a0';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 10px;
    background-size: 14px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: inline-svg('angle-right', $color-gray-50);
}
