

.header {
    z-index: 50;
    width: 100%;
    height: 80px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 4px rgba($color-black, 0.15);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.header > .container,
.header > .container > .grid {
    height: 80px;
}



.header__language ul {
    width: calc(100% + 4px);
    margin: 0 -2px;
}


.header__language ul > li {
    display: inline-block;
    padding: 0 2px;
}

.header__language ul > li:not(:last-child):after {
    content: '|';
    display: inline-block;
    margin-left: 4px;
    color: $color-gray-25;
}
