
@import "../icon/sass-inline-svg";

/**
 * Default
 */

.teaser {
    position: relative;
    margin: 30px 0;
}

.teaser .teaser__item {
    position: relative;
    height: 100%;
    background: $color-white;
}

.teaser .teaser__body {
    padding: 20px;
    text-align: center;
}

/**
 * Calendar and List
 */

.teaser .teaser__group {
    padding: 20px 0;
}

.teaser .teaser__group-title {
    text-align: center;
}

.teaser .teaser__pagination {
    margin-top: 20px;
}

/**
 * Calendar
 */

.teaser .teaser__daterange {
    max-width: 360px;
    margin: 0 auto;
}

.teaser .teaser__daterange-from,
.teaser .teaser__daterange-to {
    position: relative;
}

.teaser .teaser__daterange-from > input,
.teaser .teaser__daterange-to > input,
.teaser .teaser__daterange-submit > button {
    width: 100%;
}

/**
 * Event
 */

.teaser__eventdate.is-today span {
    color: $color-primary;
}

.teaser__eventdate.is-current span {
    font-weight: bold;
}

/**
 * FAQ
 */

.teaser .teaser__toggle {
    cursor: pointer;
    position: relative;
    padding: 15px 56px 15px 20px;
}

.teaser .teaser__toggle:after {
    content: '\00a0';
    position: absolute;
    top: calc(50% - 7px);
    right: 20px;
    display: block;
    width: 16px;
    height: 16px;
    background-size: 14px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: inline-svg('angle-down', $color-black);
    transition: transform 0.3s;
}

.teaser .uk-open .teaser__toggle:after {
    transform: rotate(180deg);
}

.teaser.teaser--faq .teaser__body {
    z-index: 5;
    position: relative;
    border-top: 1px solid $color-gray-10;
}

.teaser.teaser--faq .teaser__content .teaser__image {
    z-index: 10;
    position: relative;
    margin-bottom: -1px;
}

/**
 * Slider
 */

.teaser .teaser__navigation {
    width: 100%;
    height: 0;
}

.teaser .teaser__prev {
    position: absolute;
    top: calc(50% - 25px);
    // top: calc(100% - 50px);
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba($color-black, 0.3);
    background-size: 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: inline-svg('angle-left', $color-white);
}

.teaser .teaser__next {
    position: absolute;
    top: calc(50% - 25px);
    // top: calc(100% - 50px);
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba($color-black, 0.3);
    background-size: 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: inline-svg('angle-right', $color-white);
}
