

* {
    outline: none !important;
}

html {
    scroll-behavior: smooth;
}

html, body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    font-variant-numeric: normal;
    font-feature-settings: normal;
}

body {
    overflow-x: hidden;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    color: $color-black;

}

div, a {
    box-sizing: border-box;
}

a {
    color: $color-black;
    text-decoration: none;
}

a:not(.raw) {
    color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-black;
    font-weight: 400;
}

h1 {
    font-size: 2.6rem
}

h2 {
    font-size: 1.8rem
}

h3 {
    font-size: 1.3rem
}

h4 {
    font-size: 1.1rem
}

h5 {
    font-size: 1.0rem
}

h6 {
    font-size: 0.9rem
}

p {
}

p:not(:last-child) {
    margin-bottom: 1.0rem;
}

hr {
    border-top: 1px solid $color-gray-10;
}

th {
    font-weight: normal;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

pre {
    color: $color-warning !important;
    padding: 25px !important;
    background: $color-black !important;
    border-radius: $md-radius !important;
}

table {
    width: 100%;
}

@keyframes LoadSpinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}


[data-srcset] {
    opacity: 0;
    transition: opacity 0.5s;
}

[data-srcset].lazyloaded {
    opacity: 1;
}

.input-group {
    position: relative;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
}

.container.container--small {
    max-width: 960px;
}

.container-fluid {
    width: calc(100% - 121px);
    margin: 0 auto;
}
